nodered/flows.json
[
  {
    "id": "tab-ac-monitor",
    "type": "tab",
    "label": "Monitoring Suhu AC",
    "disabled": false,
    "info": "Dashboard monitoring suhu realtime dengan kontrol AC"
  },
  {
    "id": "mqtt-broker-cfg",
    "type": "mqtt-broker",
    "name": "Mosquitto",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "nodered-monitor",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "ui-tab-main",
    "type": "ui_tab",
    "name": "Monitoring AC",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "grp-realtime",
    "type": "ui_group",
    "name": "Monitoring Realtime",
    "tab": "ui-tab-main",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "grp-control",
    "type": "ui_group",
    "name": "Kontrol AC",
    "tab": "ui-tab-main",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "grp-status",
    "type": "ui_group",
    "name": "Status Sistem",
    "tab": "ui-tab-main",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "grp-history",
    "type": "ui_group",
    "name": "History Suhu (1 Jam Terakhir)",
    "tab": "ui-tab-main",
    "order": 4,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "mqtt-in-suhu",
    "type": "mqtt in",
    "z": "tab-ac-monitor",
    "name": "Sensor Suhu",
    "topic": "sensor/suhu",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-broker-cfg",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 120,
    "wires": [["func-parse-data"]]
  },
  {
    "id": "func-parse-data",
    "type": "function",
    "z": "tab-ac-monitor",
    "name": "Parse Data Sensor",
    "func": "var suhu = msg.payload.suhu;\nvar statusAC = msg.payload.status_ac;\n\n// Output 1: nilai suhu untuk gauge dan chart realtime\nvar msgSuhu = { payload: suhu, topic: 'suhu' };\n\n// Output 2: status AC untuk text display\nvar msgStatus = {\n  payload: statusAC === 'ON' ? 'AC  MENYALA' : 'AC  MATI',\n  topic: 'status_ac'\n};\n\nreturn [msgSuhu, msgStatus];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 120,
    "wires": [
      ["gauge-suhu", "chart-realtime", "text-suhu-nilai"],
      ["text-status-ac"]
    ]
  },
  {
    "id": "gauge-suhu",
    "type": "ui_gauge",
    "z": "tab-ac-monitor",
    "name": "Gauge Suhu",
    "group": "grp-realtime",
    "order": 1,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "Suhu Ruangan",
    "label": "°C",
    "format": "{{value}}°C",
    "min": "15",
    "max": "45",
    "colors": ["#00b500", "#f4d03f", "#ca3838"],
    "seg1": "25",
    "seg2": "35",
    "className": "",
    "x": 560,
    "y": 60,
    "wires": []
  },
  {
    "id": "chart-realtime",
    "type": "ui_chart",
    "z": "tab-ac-monitor",
    "name": "Chart Realtime",
    "group": "grp-realtime",
    "order": 2,
    "width": 8,
    "height": 4,
    "label": "Grafik Suhu Realtime",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Menunggu data sensor...",
    "dot": true,
    "ymin": "15",
    "ymax": "45",
    "removeOlder": 1,
    "removeOlderPoints": "60",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": true,
    "useUTC": false,
    "colors": ["#1f77b4"],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 560,
    "y": 140,
    "wires": [[]]
  },
  {
    "id": "text-suhu-nilai",
    "type": "ui_text",
    "z": "tab-ac-monitor",
    "group": "grp-status",
    "order": 1,
    "width": 6,
    "height": 2,
    "name": "Nilai Suhu",
    "label": "Suhu Saat Ini",
    "format": "{{msg.payload}} °C",
    "layout": "row-spread",
    "className": "",
    "x": 560,
    "y": 200,
    "wires": []
  },
  {
    "id": "text-status-ac",
    "type": "ui_text",
    "z": "tab-ac-monitor",
    "group": "grp-status",
    "order": 2,
    "width": 6,
    "height": 2,
    "name": "Status AC",
    "label": "Status AC",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 560,
    "y": 260,
    "wires": []
  },
  {
    "id": "btn-ac-on",
    "type": "ui_button",
    "z": "tab-ac-monitor",
    "name": "Tombol AC ON",
    "group": "grp-control",
    "order": 1,
    "width": 3,
    "height": 2,
    "passthru": false,
    "label": "AC ON",
    "tooltip": "Nyalakan AC - suhu akan turun",
    "color": "white",
    "bgcolor": "#0066cc",
    "className": "",
    "icon": "",
    "payload": "ON",
    "payloadType": "str",
    "topic": "control/ac",
    "topicType": "str",
    "x": 120,
    "y": 320,
    "wires": [["mqtt-out-ac", "notif-ac"]]
  },
  {
    "id": "btn-ac-off",
    "type": "ui_button",
    "z": "tab-ac-monitor",
    "name": "Tombol AC OFF",
    "group": "grp-control",
    "order": 2,
    "width": 3,
    "height": 2,
    "passthru": false,
    "label": "AC OFF",
    "tooltip": "Matikan AC - suhu akan naik",
    "color": "white",
    "bgcolor": "#cc3300",
    "className": "",
    "icon": "",
    "payload": "OFF",
    "payloadType": "str",
    "topic": "control/ac",
    "topicType": "str",
    "x": 120,
    "y": 380,
    "wires": [["mqtt-out-ac", "notif-ac"]]
  },
  {
    "id": "notif-ac",
    "type": "function",
    "z": "tab-ac-monitor",
    "name": "Format Notifikasi",
    "func": "if (msg.payload === 'ON') {\n  msg.payload = 'Perintah AC ON berhasil dikirim!';\n} else {\n  msg.payload = 'Perintah AC OFF berhasil dikirim!';\n}\nmsg.topic = 'Kontrol AC';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 350,
    "wires": [["toast-notif"]]
  },
  {
    "id": "toast-notif",
    "type": "ui_toast",
    "z": "tab-ac-monitor",
    "position": "top right",
    "displayTime": "3",
    "highlight": "",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "className": "",
    "name": "Notifikasi AC",
    "x": 560,
    "y": 350,
    "wires": []
  },
  {
    "id": "mqtt-out-ac",
    "type": "mqtt out",
    "z": "tab-ac-monitor",
    "name": "Kirim Perintah AC",
    "topic": "control/ac",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker-cfg",
    "x": 360,
    "y": 420,
    "wires": []
  },
  {
    "id": "inject-auto",
    "type": "inject",
    "z": "tab-ac-monitor",
    "name": "Auto Refresh 60s",
    "props": [{"p": "payload"}],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 520,
    "wires": [["func-build-query"]]
  },
  {
    "id": "btn-refresh-history",
    "type": "ui_button",
    "z": "tab-ac-monitor",
    "name": "Refresh History",
    "group": "grp-history",
    "order": 1,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "Refresh History",
    "tooltip": "Ambil data 1 jam terakhir dari InfluxDB",
    "color": "white",
    "bgcolor": "#009900",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "x": 130,
    "y": 560,
    "wires": [["func-build-query"]]
  },
  {
    "id": "func-build-query",
    "type": "function",
    "z": "tab-ac-monitor",
    "name": "Build Flux Query",
    "func": "var token  = env.get('INFLUXDB_TOKEN');\nvar url    = env.get('INFLUXDB_URL') || 'http://host.docker.internal:8087';\nvar org    = env.get('INFLUXDB_ORG')  || 'myorg';\nvar bucket = env.get('INFLUXDB_BUCKET') || 'mybucket';\n\nvar query = 'from(bucket:\"' + bucket + '\")\\n' +\n  '  |> range(start: -1h)\\n' +\n  '  |> filter(fn: (r) => r._measurement == \"suhu_ruangan\")\\n' +\n  '  |> filter(fn: (r) => r._field == \"suhu\")\\n' +\n  '  |> aggregateWindow(every: 1m, fn: mean, createEmpty: false)\\n' +\n  '  |> yield(name: \"mean\")';\n\nmsg.url     = url + '/api/v2/query?org=' + org;\nmsg.headers = {\n  'Authorization' : 'Token ' + token,\n  'Content-Type'  : 'application/vnd.flux',\n  'Accept'        : 'application/csv'\n};\nmsg.payload = query;\nmsg.method  = 'POST';\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 540,
    "wires": [["http-influx-query"]]
  },
  {
    "id": "http-influx-query",
    "type": "http request",
    "z": "tab-ac-monitor",
    "name": "Query InfluxDB",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 540,
    "y": 540,
    "wires": [["func-parse-csv"]]
  },
  {
    "id": "func-parse-csv",
    "type": "function",
    "z": "tab-ac-monitor",
    "name": "Parse CSV InfluxDB",
    "func": "var csv = msg.payload;\nif (!csv || typeof csv !== 'string') {\n  node.warn('Tidak ada response dari InfluxDB');\n  return null;\n}\n\n// Filter baris valid (bukan annotation #, bukan kosong)\nvar lines = csv.split('\\n').filter(function(l) {\n  return l.trim() && !l.startsWith('#');\n});\n\nif (lines.length < 2) {\n  node.warn('Tidak ada data history (bucket mungkin masih kosong)');\n  return null;\n}\n\nvar headers   = lines[0].split(',');\nvar timeIdx   = headers.indexOf('_time');\nvar valueIdx  = headers.indexOf('_value');\n\nif (timeIdx < 0 || valueIdx < 0) {\n  node.warn('Format CSV tidak dikenali, cek Flux query');\n  return null;\n}\n\nvar dataPoints = [];\nfor (var i = 1; i < lines.length; i++) {\n  var cols = lines[i].split(',');\n  if (cols.length > Math.max(timeIdx, valueIdx)) {\n    var val = parseFloat(cols[valueIdx]);\n    if (!isNaN(val)) {\n      dataPoints.push({\n        x: new Date(cols[timeIdx]).getTime(),\n        y: parseFloat(val.toFixed(1))\n      });\n    }\n  }\n}\n\nif (dataPoints.length === 0) {\n  node.warn('Data points kosong setelah parsing');\n  return null;\n}\n\nmsg.payload = [{\n  series: ['Suhu Rata-rata (°C)'],\n  data   : [dataPoints],\n  labels : ['']\n}];\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 540,
    "wires": [["chart-history"]]
  },
  {
    "id": "chart-history",
    "type": "ui_chart",
    "z": "tab-ac-monitor",
    "name": "Chart History",
    "group": "grp-history",
    "order": 2,
    "width": 12,
    "height": 6,
    "label": "History Suhu 1 Jam Terakhir",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "Klik Refresh untuk memuat data history dari InfluxDB...",
    "dot": false,
    "ymin": "15",
    "ymax": "45",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": true,
    "useUTC": false,
    "colors": ["#ff7f0e"],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 900,
    "y": 540,
    "wires": [[]]
  }
]
